<div class="header">
    <div class="trenKategorija">
        <p id="trenKategorija"> <%= tren_kategorija %> </p>
    </div>
    <div class="kosarica">
        <a class="kolica" href="/cart" onclick="spremiKategoriju()">
            <img src="/images/kolica-min.jpg">
        </a>
        <p id="kosaricaCount"><%= kosarica %></p>
        <img src="/images/povecalo-min.jpg" class="povecalo">
    </div>            
</div>